@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: BPreplay;
  src: url(./fonts/BPreplay.otf);
}
@font-face {
  font-family: BPreplay;
  src: url(./fonts/BPreplayBold.otf);
  font-weight: bold;
}

:root {
  --nebu-purple: #b18fc1;
  --nebu-purple-darker: #75478A;
  --nebu-purple-darkest: #524359
  --nebu-pink: #FCB0BF;
  --nebu-rounded: #CF586F;
  --nebu-gray: #F4F4F4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: BPreplay, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

footer {
  background-color: var(--nebu-purple-darkest);
}

.purple-bg {
  background-color: var(--nebu-purple);
}

.purple-bg-darkest {
  background-color: var(--nebu-purple-darkest);
}

.pink-bg {
  background-color: var(--nebu-pink);
}

.text-shadow {
  text-shadow: -1px -1px 0 var(--nebu-purple-darker),
    1px -1px 0 var(--nebu-purple-darker), -1px 1px 0 var(--nebu-purple-darker),
    1px 1px 0 var(--nebu-purple-darker);
}

.link-button {
  @apply transform-gpu transition-all inline-block my-auto p-4 rounded-lg font-bold hover:bg-purple-800 hover:scale-105;
  background-color: var(--nebu-purple-darker);
}
.--pink {
  @apply p-2 hover:bg-pink-800;
  background-color: var(--nebu-pink-darker);
}

.card-outline {
  @apply border-4 border-opacity-50 rounded-3xl;
  border-color: var(--nebu-purple-darker);
}

.--border-pink {
  border-color: var(--nebu-pink-darker);
}

.card-image-outline {
  @apply border-t-4 border-b-4 border-opacity-50;
  border-color: var(--nebu-purple-darker);
}

.card-detail-outline {
  @apply border-4 border-opacity-50;
  border-color: var(--nebu-purple-darker);
}
