@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: BPreplay;
  src: url(./fonts/BPreplay.otf);
}
@font-face {
  font-family: BPreplay;
  src: url(./fonts/BPreplayBold.otf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: BPreplay, Helvetica, sans-serif;
}

.bg-gradient {
  background: linear-gradient(
    0deg,
    rgba(228, 167, 235, 1) 0%,
    rgba(122, 106, 200, 1) 100%
  );
}

.bg-gradient-sm {
  background: linear-gradient(
    0deg,
    rgba(228, 167, 235, 1) 0%,
    rgba(122, 106, 200, 1) 100%
  );
}

.text-shadow {
  text-shadow: -1px -1px 0 rgb(76, 29, 149), 1px -1px 0 rgb(76, 29, 149),
    -1px 1px 0 rgb(76, 29, 149), 1px 1px 0 rgb(76, 29, 149);
}

.link-button {
  @apply transform-gpu transition-all inline-block p-4 rounded-xl font-bold bg-purple-600 hover:bg-purple-800 hover:scale-105;
}

.card-outline {
  @apply border-4 border-purple-900 border-opacity-50 rounded-3xl;
}

.card-image-outline {
  @apply border-t-4 border-b-4 border-purple-900 border-opacity-50;
}

.card-detail-outline {
  @apply border-4 border-purple-900 border-opacity-50;
}
